/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@import "tailwindcss";


@plugin "daisyui";


@plugin "daisyui/theme" {
	name: "pastel";
	default: true;
	prefersdark: true;
	color-scheme: "light";
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98.462% 0.001 247.838);
	--color-base-300: oklch(92.462% 0.001 247.838);
	--color-base-content: oklch(20% 0 0);
	--color-primary: oklch(88% 0.059 254.128);
	--color-primary-content: oklch(48% 0.243 264.376);
	--color-secondary: oklch(89% 0.058 10.001);
	--color-secondary-content: oklch(51% 0.222 16.935);
	--color-accent: oklch(84% 0.143 164.978);
	--color-accent-content: oklch(43% 0.095 166.913);
	--color-neutral: oklch(55% 0.046 257.417);
	--color-neutral-content: oklch(92% 0.013 255.508);
	--color-info: oklch(92% 0.006 264.531);
	--color-info-content: oklch(27% 0.033 256.848);
	--color-success: oklch(87% 0.15 154.449);
	--color-success-content: oklch(52% 0.154 150.069);
	--color-warning: oklch(83% 0.128 66.29);
	--color-warning-content: oklch(55% 0.195 38.402);
	--color-error: oklch(80% 0.114 19.571);
	--color-error-content: oklch(50% 0.213 27.518);
	--radius-selector: 1rem;
	--radius-field: 2rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 0.5px;
	--depth: 0;
	--noise: 0;
}





/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family:
		ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
	@apply font-sans;
	padding: 0;
	line-height: inherit;
}

.code {
	@apply bg-gray-800 text-white p-4 rounded-md overflow-auto block;
	font-family: "Courier New", Courier, monospace;
}

.inline-code {
	@apply bg-gray-300 text-black font-semibold px-1 py-0.5 rounded-md;
	font-family: "Courier New", Courier, monospace;
}

@font-face {
	font-family: "Rubik";
	src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
