.container {
  display: flex;
  align-items: center;
}

.left-box,
.right-box {
  width: 50px;
  height: 50px;
}

.left-box {
  background-color: red;
}

.right-box {
  background-color: blue;
}

.lines-entering {
  overflow: visible;
  animation: drawLine 4s forwards;
  animation-timing-function: ease-out;
}

@keyframes drawLine {
  0% {
    stroke-dasharray: 0 1000; /* Initial state: No line is visible */
  }

  100% {
    stroke-dasharray: 1000 0; /* Final state: Full line is visible */
  }
}

.move-circle {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: moveCircle 3s forwards;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes moveCircle {
  0% {
    transform: translateX(-1211px) translateY(200px);
  }

  100% {
    top: -20%;
    transform: translateX(50%) translateY(300px);
    opacity: 1;
  }
}

.appear-from-below {
  animation: appear-from-below 700ms forwards;
  opacity: 0;
  animation-timing-function: ease;
}
.appear-from-below-with-delay {
  opacity: 0;
  animation: appear-from-below 700ms forwards;
  animation-timing-function: ease;
  animation-delay: 700ms;
}

@keyframes appear-from-below {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
